@import url(https://font.imbc.com/noto/noto.css);
@import url(https://font.imbc.com/mbcnew/mbcnew.css);

body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0;font-weight: normal;}
h1,h2,h3,h4,h5,h6{font-weight:400}
fieldset,img{border:0 none}
a{color:inherit;text-decoration:none}
dl,ul,ol,li{list-style:none}
img{vertical-align:top}
table{border-collapse:collapse;border-spacing:0;border:0}
th,td{vertical-align:middle}
em,caption,cite,address,dfn,var,code{font-style:normal}
input[type='text'],input[type='password'],input[type='number'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email']{-webkit-appearance:none;border-radius:0}
input:checked[type='checkbox']{-webkit-appearance:checkbox}
button,input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:button;border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
input[type='number']::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
input,select,textarea,button{vertical-align:middle;border:0}
select,select option,textarea{text-transform:uppercase;-webkit-appearance:none;-moz-appearance:none}
button{border:0;background-color:transparent;cursor:pointer;z-index: 99999;}
body{background:#20201e;color:#fff;font-size:16px;letter-spacing:-.075em;font-family:'notokr-demilight'}

/* accessibility */
#accessibility{position:absolute;top:-1000px;left:0;overflow:hidden;display:block;width:1px;text-align:left;text-indent:-9999px;z-index:9999}
.blind{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.ellipsis2{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;word-wrap:break-word;-webkit-line-clamp:2}
.ellipsis3{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;word-wrap:break-word;-webkit-line-clamp:3}

/*common css*/
body img {width: 100%}

/* scroll */
.scroll-top{position: fixed;bottom: 40px;right:4.5%;width: 40px;height: 40px;background: url(../images/ico_top.png) no-repeat;background-size: 40px;text-indent: -9999px;}
.swiper-container .swiper-pagination .swiper-pagination-bullet {border: 0.1rem solid #8e8e8d;background: none;opacity: 0.4;box-sizing: border-box
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {background: #8e8e8d;border: 0.1rem solid #8e8e8d;opacity: 1;margin: 0 2px !important;
}
.swiper-pagination .swiper-pagination-bullets{bottom: 13px !important}

.fade-enter-active, .fade-leave-active {transition: opacity 0.5s ease;}
.fade-enter-from,.fade-leave-to {opacity: 0;}
